@page "/productdetails/{p:int}"
@inject NavigationManager navi
<h3>@newProduct.Produktname</h3>


@using BlazorProductList.Data.Model
@using BlazorProductList.Data.Service
@inject ProductService ps

<EditForm Model="@newProduct">
    <DataAnnotationsValidator />
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card" style="width: 100%;">
                        <img class="card-img-top" src="@newProduct.BildPath" alt="Card image cap">
                        <div class="card-body">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Produkt Name</span>
                                </div>
                                <input type="text" class="form-control"
                                       aria-label="Default" aria-describedby="inputGroup-sizing-default"
                                       @bind-value="newProduct.Produktname">
                               
                            </div>
                        </div>
                        <button class="btn" @onclick="BackToList">
                            <span class="iconify" data-icon="si-glyph:backward-page" data-height="28" data-inline="false"></span>
                        </button>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Identifizierer</span>
                        </div>
                        <input type="text" class="form-control"
                               aria-label="Default" aria-describedby="inputGroup-sizing-default"
                               @bind-value="newProduct.Identifizierer">
                        <br />
                        <ValidationMessage For="@(()=>newProduct.Identifizierer)" />
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Produkt Vollständigkeit</span>
                        </div>
                        <input type="text" class="form-control"
                               aria-label="Default" aria-describedby="inputGroup-sizing-default"
                               @bind-value="newProduct.Completeness">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Vorlage</span>
                        </div>
                        <input type="text" class="form-control"
                               aria-label="Default" aria-describedby="inputGroup-sizing-default"
                               @bind-value="newProduct.Vorlage">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Anbieter</span>
                        </div>
                        <input type="text" class="form-control"
                               aria-label="Default" aria-describedby="inputGroup-sizing-default"
                               @bind-value="newProduct.Anbieter">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Geändert am</span>
                        </div>
                        <input type="date" class="form-control"
                               aria-label="Default" aria-describedby="inputGroup-sizing-default"
                               @bind-value="newProduct.ChangedAt">
                    </div>                        <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Erstellt am</span>
                        </div>
                        <input type="date" class="form-control"
                               aria-label="Default" aria-describedby="inputGroup-sizing-default"
                               @bind-value="newProduct.CreatedAt">
                    </div>
                </div>
            </div>
        </div>
    @*<button class="btn"> Save</button>*@
</EditForm>


@code {
    [Parameter]
    public int p { get; set; }

    public Product newProduct { get; set; }


    protected override async Task OnInitializedAsync()
    {
        newProduct = await ps.GetProductDetails(p);

    }
    public void BackToList()
    {
        navi.NavigateTo("/fetchdata");
    }

}
