@if (OptionList != null && OptionList.Count() > 0)
{
    <form>
        <select class="custom-select">
            <option selected>Ansicht Auswahl</option>
            @foreach (var o in OptionList)
            {
                <option value="@o">@o</option>
            }
        </select>
    </form>

}
else
{
    <div></div>
}



@code {
    [Parameter]
    public List<string> OptionList { get; set; }

    [Parameter]
    public EventCallback<List<string>> OptionListChanged { get; set; }

    [Parameter]
    public string Title { get; set; }

    protected override Task OnInitializedAsync()
    {
        //optionList = new List<string>();
        //optionList.Add("StandardAnsicht1");
        //optionList.Add("StandardAnsicht2");
        //optionList.Add("StandardAnsicht3");
        //optionList.Add("StandardAnsicht4");
        return base.OnInitializedAsync();
    }


}
