@using Microsoft.Extensions.Logging;
@inherits LayoutComponentBase
@inject ILogger<MainLayout> logger;
@inject Blazored.LocalStorage.ILocalStorageService _localStorage;

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">

        <div class="top-row px-4">
            Hello @userName &nbsp;
            <span class="iconify" data-icon="el:picture" data-height="28" data-inline="false"></span>
            <div class="notification">
                <button type="button" @onclick="GoToEmail" style="border:none;">
                    <span class="iconify" data-icon="ant-design:mail-outlined" data-height="28" data-inline="false">
                    </span>
                    <span class="badge-red badge">2</span>
                </button>

            </div>
            <div class="notification">
                <button type="button" @onclick="GoToInfo" style="border:none;">
                    <span class="iconify" data-icon="bx:bx-bell" data-height="28" data-inline="false">
                    </span>  <span class="badge-orange badge">3</span>
                </button>
            </div>
            <div class="notification">
                <button type="button" @onclick="GoToRefresh" style="border:none;">
                    <span class="iconify" data-icon="zmdi:refresh" data-height="28" data-inline="false">

                    </span>  <span class="badge-orange badge">6</span>
                </button>
            </div>
            <div>
                <button type="button" @onclick="Setting" style="border:none;">
                    <span class="iconify" data-icon="uil:setting" data-height="28" data-inline="false"></span>
                </button>
            </div>

        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
@code{


    public string userName { get; set; } = "Admin";
    public string currentNavi { get; set; }

    protected async override Task OnInitializedAsync()
    {
        var result =await _localStorage.GetItemAsync<string>("navi");
    }

    public void GoToEmail()
    {
        logger.LogInformation("Click icon go to Email View");

    }
    public void GoToInfo()
    {
        logger.LogInformation("Click icon go to Info View");

    }
    public void GoToRefresh()
    {
        logger.LogInformation("Click icon go to Refresh View");

    }
    public void Setting()
    {
        logger.LogInformation("Click icon go to Setting View");
    }
}
